/* Login */

body , html {
  
  min-width: 414px;
  /* min-height: 896px; */
}
 ::-webkit-scrollbar{
  display: none;
 }



.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-form {
  background-color: #f8f9fa; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px; 
}


.form-group {
  margin-bottom: 15px;
}


.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
}


.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.form-text {
  font-size: 12px;
  color: #6c757d;
}



/* App.js */
.container {
  
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  /* padding-top: 260px; */
}




.header-container {
  position: sticky;
  top: 56px;
  z-index: 1000;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 10px; 
  background-color: white;
}


.header-left {
  display: flex;
  align-items: center;
  gap: 2px; 
}

.header-left .info-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; 
}

.header-left .title {
  font-size: 24px; 
  margin: 0; 
}

.modal-overlay .modal-dialog {
  position: absolute;
  top: 20%;
  right: 10%;
  margin: 0; 
  width: auto; 
}

.modal-overlay .modal-content {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}






.searchbar-container {
  margin-top: 20px;
}

/* Search Bar */
.navbar {
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.search-form {
  display: flex;
  width: 100%;
  align-items: center;
}

.search-input {
  width: 85%;
  padding: 8px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.search-button {
  width: 15%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 0; 
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}


.search-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


.search-button.inactive {
  background-color: #ccc; 
}




/* Add Contact Form */
.form-container {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="file"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.submit-button {
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #0056b3;
}


.add-button {
  background-color: #007bff; 
  color: white; 
  border: none;
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 20%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 5px;
}

.add-button:hover {
  background-color: #0056b3; 
}

.add-button:focus {
  outline: none;
}

/* Contact Table  */
.contact-table {
  width: 100%;
  margin-top: 0px;
}

.contact-table td {
  padding: 8px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.contact-item {
  transition: background-color 0.3s ease;
}

.contact-item:hover {
  background-color: #f1f1f1;
}

.contact-tableDetails {
  padding: 0px 0px 0px 10px;
  background-color: #f8f8f8;
}



/* contact Details */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(-20px);
  }
}


.contact-detail {
  animation: fadeIn 0.5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 0px;
  background-image: linear-gradient(rgb(207, 200, 200), rgba(85, 84, 84, 0.678));
}


.contact-header {
  text-align: center;
  margin-bottom: 10px; 
}

.contact-header img {
  display: block;
  margin: 0 auto; 
}

.contact-detail h3 {
  font-size: 24px; 
  /* animation: fadeIn 0.5s ease-out; */
}

.contact-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #29243bae;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-header h3 {
  font-size: 28px;
  margin: 0;
}



.contact-buttons {
  display: flex;
  justify-content: space-around; 
  gap: 20px;
  width: 100%; 
  margin-bottom: 20px;
}

.contact-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: #29243b52;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 80px; 
  height: 80px; 
  flex: 1; 
}

/* .contact-buttons button:hover {
  background: #e0e0e0; 
} */

.contact-buttons i {
  font-size: 24px;
  color: white;
}

.contact-buttons span {
  font-size: 16px; 
  text-align: center; 
  color: white;
}



.contact-info-section {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;  
}

.contact-info {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  
}

.contact-info:last-child {
  border-bottom: none; 
}

.contact-info span {
  font-weight: bold;
  color: #888;
  
}

.contact-info a {
  color: #007aff;
  text-decoration: none;
}



.back-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 40px;
}

.font-title {
  margin: 0;
}

/* .back {
  text-decoration: none;
  color: #007bff; 
} */


.back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#29243bae;
  color: white; 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  text-decoration: none; 
  font-size: 25px; 
}

.back:hover {
 
  color: white; /* Keep the text color white on hover */
}


.edit-button {
  background-color:#29243bae;
  color: white; 
  border: none;
  border-radius: 50px; 
  padding: 10px 20px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.contact-avatar1 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #29243bae;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  margin-bottom: 10px;
}

.avatar-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.add-photo-button {
  background-color: #ddd;
  border: none;
  /* padding: 10px 15px; */
  border-radius: 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  width:120px;
  height: 30px;
}


.avatar-container1 i {
  font-size: 80px;
  color: white;
}

.avatar i {
  color: red;
}


/* Edit Contact */

.form-container1 {
  margin-top: 20px;
}

.form-group1 {
  margin-bottom: 15px;
}

.form-group1 label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group1 input[type="text"],
.form-group1 input[type="email"],
.form-group1 input[type="tel"],
.form-group1 input[type="file"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.delete-button {
  padding: 10px 20px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}



.contact-detail1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f8f8;
  animation: fadeIn 0.5s ease-out;
}


.done-button {
  background-color:#29243bae;
  color: white; 
  border: none;
  border-radius: 50px; 
  padding: 10px 20px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}



.contact-detailss {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0px;
  background-color: #f8f8f8;
  animation: fadeIn 0.5s ease-out;

}


/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #0056b3;
}

.pagination-button.active {
  background-color: green;
  color: white;
}


.sticky-searchbar {
  position: sticky;
  top: 100px; 
  z-index: 999; 
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #ccc; 
}

.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.app-header .logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.app-header .logo i {
  margin-right: 10px;
}


@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


